.logo_restaurant {
	@include flexing;
}
.cadre_head_restaurant {
	margin-top: 8px;
	margin-right: 30px;
	width: 170px;
}
.principal {
	@include flex;
}
.orders_menu {
	@include flex;
	align-content: center;
	margin-top: 45px;
	margin-bottom: 45px;
}
#commande {
	border: 0;
	padding: 1rem 2.70rem;
	font-weight: 500;
	border-radius: 100px;
	color: $colour-white;
	background-color: $colour-sixth;
	background-image: linear-gradient(0deg,rgba($colour-primary,0.9),rgba($colour-secondary,0.9));
	cursor: pointer;
	transition-duration: 0.25s;
	box-shadow: 0.25rem 0.25rem 10px rgba($colour-black,0.25);
	&:hover {
		box-shadow: 10px 10px 10px $colour-seven;
		background-color: $colour-white;
	}
}
.fa-arrow-left {
	margin: 20px 0 20px 21px;
	font-size: 20px;
	width: 100%;
	color: $colour-black;
}
.cadre_bigresto {
	@include cover-cadre($max-height: 32rem);
}
.cadre_smallresto {
	@include cover-cadre;
}
#mondial_menu {
	display: flex;
	flex-wrap: wrap;
}
#restaurant_menu {
	width: 100%;
	background-color: $colour-quator;
	border-top-right-radius: 53px;
	border-top-left-radius: 53px;
	max-width: 1440px;
	margin: auto;
	box-sizing: border-box;
	z-index: auto;
	position: relative;
	margin-top: -64px;
	h1 {
		margin-left: 25px;
		margin-top: 40px;
		font-family: 'Shrikhand', cursive;
	}
}
#name_menu {
	h1 {
		margin-left: 20px;
		margin-right: 35px;
		margin-top: 25px;
		display: flex;
		justify-content: space-between;
        font-weight: 200;
	}
	span {
		font-size: 24px;
        color: $colour-gray;
	}
}
.heart {
    &:hover {
		transition-duration: 0.3s;
		opacity: 1;
        cursor: pointer;
        color: rgba($colour-black,0);
	}
	font-size: 25px;
	position: absolute;
	margin-left: calc(0% - 0.5px);
	margin-top: 3.8px;
	opacity: 0;
	cursor: pointer;
    transition-duration: 0.5s;
	transition-timing-function: ease-out;
    height: 25px;
    width: 25px;
}
.contain_food {
	margin-bottom: 0px;
}
.item_food {
	@include flexing;
	@include ellipsis;
	border-radius: 15px;
	margin-bottom: 14px;
	justify-content: space-between;
	box-shadow: 0px 4px 6px $colour-seven;
	margin-left: 3%;
	margin-right: 3%;
	height: 100%;
	cursor: pointer;
	&:hover {
		.menu-title {
			@include ellipsis;
		}
		.menu-second {
			transition-delay: 1s;
			max-width: 228px;
		}
		.check {
			margin-right: -1rem;
			span {
				animation: moveCircle 1.25s;
			}
		}
	}
}
.meal {
	@include ellipsis;
	flex-grow: 5;
	margin: 12px 0px 12px 12px;
	display: flex;
    flex-direction: column;
    margin-right: -15px;
    width: 50%;
}
.menu-title {
	@include ellipsis($space: break-spaces);
	font-weight: bold;
	font-size: 1rem;
	width: 80%;
	margin-bottom: 5px;
}
.menu-second {
	font-size: 0.87rem;
	opacity: 0.8;
	width: 80%;
}

.price_food {
	position: relative;
	margin-bottom: 10px;
	margin-right: 45px;
}
.price {
	position: absolute;
	bottom: 0;
	font-size: 0.9rem;
	font-weight: bold;
}
.check {
	@include flex($width: 75px);
	align-items: center;
	background-color: $colour-greenlight;
	margin: -1rem -5rem -1rem 0rem;
	transition-duration: 0.5s;
	span {
		margin: 0 auto;
		color: $colour-white;
		margin-left: 20px;
	}
}
$animation: (
	1:slideDown,
	2:slideDown1,
	3:slideDown2,
	4:slideDown3,
);

@each $number, $slides in $animation {
	.filter#{$number} {
		transition: 0.5s;
		animation: $slides 1s;
	}
}
.compose {
	margin: auto;
	h2 {
		font-family: 'Roboto', sans-serif;
		color: $colour-gray;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 200;
		margin-left: 20px;
		margin-top: 40px;
		&::after {
			content: '';
			display: block;
			width: 40px;
			height: 3px;
			background: $colour-greenlight;
			margin-top: 5px;
		}
	}
}
