$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-greenlight: #99E2D0;
$colour-quator: #F2F2F2;
$colour-fifth: #D9D9D9;
$colour-sixth: #686868;
$colour-seven: #D1D1D1;
$colour-darkgreen: #008766;
$colour-blacklight: #262525;
$colour-gray: gray;
$colour-white: white;
$colour-black: black;